.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  /* max-width: 400px; */
  margin: auto;
  padding: 10px;
}

.rec-input {
  max-width: 150px;
  margin-bottom: 20px;
}

.ui.teal.button:focus, .ui.teal.buttons .button.focus {
  background-color: #00b5ad;
}

.desc-input {
  width: 100%;
  margin-bottom: 20px;
}

.add-rec-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.create-post {
  margin-bottom: 20px;
}

.right-rail-cat {
  padding: 10px;
}

.stat-container {
  width: 600px;
}

.color-primary {
  color: #00B5AD !important;
}
.color-primary:hover {
  color: #0f968f !important;
}

.color-secondary {
  color:#f9d56e !important;
}

.color-tertiary {
  color: #f3ecc2 !important;
}
.color-white {
  color: #fff !important;
}

.bg-color-primary {
  background-color: #00B5AD !important;
}

.bg-color-secondary {
  background-color:#f9d56e !important;
}

.bg-color-tertiary {
  background-color: #f3ecc2 !important;
}



.centered-div {
  display: flex;
  justify-content: space-around;
  padding: 10px;

}

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}
