.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  /* max-width: 400px; */
  margin: auto;
  padding: 10px;
}

.rec-input {
  max-width: 150px;
  margin-bottom: 20px;
}

.ui.teal.button:focus, .ui.teal.buttons .button.focus {
  background-color: #00b5ad;
}

.desc-input {
  width: 100%;
  margin-bottom: 20px;
}

.add-rec-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.create-post {
  margin-bottom: 20px;
}

.right-rail-cat {
  padding: 10px;
}

.stat-container {
  width: 600px;
}
